<div>
    <h1>Reestabelcer tu contrasenia</h1>
    <form id="restoreForm">
        <label>Correo para reestabblecer</label>
        <input name="email">
        <label>Nueva contrasenia</label>
        <input name="password">
        <input type="submit">
    </form>
</div>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="/js/restorePassword.js"></script>